<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" id="my_name">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="{{email}} sendto:avivyonah@gmail.com" title="Send Email"><i class="icon fa fa-envelope"></i></a>
        
        <a aria-label="My Instagram" target="_blank" href="https://instagram.com/yonah.aviv" title="My Instagram"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://linkedin.com/YonanhAviv" title="My LinkedIn"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/y330" title="My Github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <!--         <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a> -->
        <!--         <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a> -->
      </div>
      <div class="header-links">
        <button><a class="link" title="Read about me" href="#about" data-scroll>About Me</a></button>
        <button><a class="link" title="Read about some of my projects" href="#projects" data-scroll>Projects</a></button>
      </div>
  </div>
  <a class="down" Title="Next page" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
